body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to right, #0d0058, #0400ff);
  color: rgb(255, 255, 255);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
img {
  width: 150px;
}
.Print {
  width: 600px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}
.navbar a:hover {
  text-decoration: underline;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.content-left {
  max-width: 600px;
}
.content-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.content-left p {
  font-size: 18px;
  margin-bottom: 40px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttons a {
  padding: 15px 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
}
.buttons a:hover {
  background-color: #4242ff;
  color: #ffffff;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 15px;
  font-size: 24px;
}
